/*  */
:root {
	--primary-white-color: #ffffff;
	--second-dark-color: #2f303a;
	--accent-color: #2196f3;
	--primary-text-color: #212121;
	--second-text-color: #757575;
}
/* primary-font-family: roboto; */
/* logo-font-family: Raleway; */
/*  fon button Portfolio #F5F4FA; */

body {
	background-color: var(--primary-bg-color);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.text-logo {
	font-family: "Raleway", sans-serif;
	font-style: 700;
	font-size: 26px;
	line-height: 1.2;
	color: #000000;
	text-decoration: none;
}
.logo {
	color: var(--accent-color);
}

.link {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
.list-header :hover,
.list-header :focus {
	color: var(--accent-color);
}
.list-header {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
}
.list-nav {
	color: var(--primary-text-color);
	text-decoration: none;
}
.current {
	color: var(--accent-color);
}
.list-contact {
	color: var(--second-text-color);
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
}
.hero {
	background-color: var(--second-dark-color);
}
.hero-title {
	color: var(--primary-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.main-button {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}
/* .main-button :hover, */
/* .main-button :focus {} */

.list-features {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
h3 {
	color: var(--primary-text-color);
}
p {
	color: var(--second-text-color);
}
.filtre {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
}
.filtre:hover,
.filtre:focus {
	color: var(--primary-white-color);
	background: var(--accent-color);
	cursor: pointer;
}
.adress-footer {
	color: var(--primary-white-color);
	font-weight: 400;
	letter-spacing: 0.03em;
	font-style: normal;
	text-decoration: none;
}
.footer {
	background-color: var(--second-dark-color);
}
.footer > .text-logo {
	color: var(--primary-white-color);
}
